.produtos_button {
  background-color: #eeeeee;
  padding: 5px 25px;
  color: #000000;
  font-size: 18px;
  border: #333 1px solid;
  border-radius: 5px;
  display: block;
  cursor: pointer;
  margin-top: 20px;
}
li > h1 {
  color: #ffffff;
}
li > p {
  color: #ffffff;
}
